<div class="row">
  <aside class="col-3">
    <section class="user_info">
      <%= render "shared/user_info" %>
    </section>
    <section class="micropost_form">
      <%= render "shared/micropost_form"%>
    </section>
  </aside>
  <div class="col-9">
    <h3>Feed Items</h3>
    <%= render "shared/feed"%>
  </div>
</div>
