<% provide(:title, @user.name) %> 

<div class="row">
 <aside class="col-3">
  <section class="user_info">
    <h1><%= @user.name%></h1>
  </section>
 </aside>
 <div class="col-9">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>

