<div class="row">
  <div class="col-3">
    <%= image_tag micropost.picture.url if micropost.picture? %>
    <% if current_user?(micropost.user)%>
      <%= link_to "Delete",micropost,method: :delete,data: { confirm: "You sure?" } %>
    <% end %>
  </div>
</div>
