<header class="navbar navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to "Instagram", root_path, id: "logo" %>
  <% if user_signed_in? %>
  <div class="d-flex align-items-center">
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default">serch</button></button>
      </span>
        <input type="text" class="form-control" placeholder="serch" aria-label="...">
    </div>
  </div>
  <div class="justify-content-end">
    <nav>
      <ul class="nav">
        <li class="dropdown  justify-content-end">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
            <ul class="dropdown-menu ">
              <li class="dropdown-item"><%= link_to "Users", users_path %></li>
              <li class="dropdown-item"><%= link_to "Profile", current_user %></li>
              <li class="dropdown-item"><%= link_to "Settings", edit_user_registration_path %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            </ul>
        </li>
      </ul>
    </nav>
  </div>
  <% else %>
  <div class="justify-content-end">
    <nav>
      <ul class="nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
            <ul class="dropdown-menu ">
              <li class="dropdown-item"><%= link_to "log in", user_session_path %></li>
              <li class="dropdown-item"><%= link_to "Sign up", new_user_registration_path %></li>
            </ul>
        </li>
      </ul>
    </nav>
  </div>
  <% end %>
</header>